body {
    width: 1024px;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    border-bottom: 5px solid rgb(234, 236, 239);
    margin-bottom: 30px;
}

.info {
    padding-left: 50px;
}

.item-name {
    font-size: 16px;
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 100px auto;
}



.name {
    color:rgb(63, 90, 121);
    font-size: 50px;
}



#photo {
    
    width: 300px;
    height: 300px;
    border-radius: 100%;
    
}

.skills-item {
    padding-bottom: 10px;
    position: relative;
}





